div{
    height:200px;
    width:600px;
    background-color:yellow;
    text-align:center;
    align-content: center;
    padding:25px; 
    margin:60px,200px;
    border:30px solid blue;
}
.gh{

    border:5px solid black;
    background-color: aliceblue;
    height: 500px;
    width: 700px;
}