/* div{
    height:150px;
    width: 250px;
    background-color: aquamarine;
    font-family: cursive;
} */
 .circle{
    width:300px;
    height:300px;
    /* border-color: blue;
    border-width: 150;
    border-radius: 75%;
    border-style: double; */
    margin:auto;
    background-color: wheat;
    border: 150px double blue;
    border-radius: 75px;
    /* if border-radius: is in % border is in circle; if border-radius is in px it becomes inn rectangular
     form egdes curved */
     padding:55px;
     /* padding:1px 2px 3px 5px; top|right|bottom|left----clockwise; */
    
 }
 h1{
    display:flex;
    justify-content: center;
    align-items: center;

 }
 #box{
    border:20px solid black;
    height: 550px;
    width:550px;
    margin: 250px auto;
    text-align: center;
    text-transform: uppercase;
    font-size:75px;
    padding-top: 100px;
 }

 .circle1{
    border:150 solid red;
    color:red;
    height:15px;
    width: 15px;
    border-radius:50% ;
    background-color: red;
    padding:50px;
    margin:auto;
    text-align: right;
    justify-content: right;
    display: flex;
 }

 .circle2{
    border:150 solid yellow;
    color:yellow;
    height:15px;
    width: 15px;
    border-radius:50% ;
    background-color: yellow;
    padding:50px;
    margin:auto;
    display:flex;
 }
 .circle3{
    border:150 solid green;
    color:green;
    height:15px;
    width: 15px;
    border-radius:50% ;
    background-color:green;
    padding:50px;
    margin:auto;
    display: flex;
 }

  