body {
    
    background: white;
    padding: 30px;
}

.container {
    background: #f3b9c3;
    border: 3px solid #555;
    padding: 25px;
    width: 900px;
    height:250px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.float-img {
    float: left;
    width: 150px;
    height:150px;
    margin-right: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 1.6;
}